langchain
langchain-community
langchain-text-splitters
langchain-huggingface

# Descomente a linha abaixo para usar o OpenAI, e comente a linha do Ollama
langchain-openai

# Em caso de usar o Ollama, descomente a linha abaixo e comente a linha do langchain-openai
# langchain-ollama

sentence-transformers

chromadb
pypdf
datasets
python-dotenv
ragas

networkx
pandas